@{
    Layout = "";
    ViewData["Title"] = "Home Page";
    
}



<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css">
    <link rel="stylesheet" href="~/remixicons/fonts/remixicon.css" />
    <link rel="stylesheet" href="~/css/aos.min.css">
    <link rel="stylesheet" href="~/css/style.css">
   


    <title>Daniel Fears</title>
</head>

<body>


    <!-- NAV -->
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Daniel Fears</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-lg-4">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#newReleases">New Releases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Store</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#work">All Releases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#testimonials">Press</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
                <div class="social-links ms-auto">
                    <a href="#"><i class="ri-facebook-fill"></i></a>
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <a href="#"><i class="ri-youtube-fill"></i></a>
                    <a href="#"><i class="ri-spotify-fill"></i></a>
                    <a href="#"><i class="ri-apple-fill"></i></a>
                    <a href="#"><i class="ri-amazon-line"></i></a>
                    


                </div>
            </div>
        </div>
    </nav>

    <!-- HERO -->
    <section id="hero">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="display-1" data-aos="fade-up">Daniel Fears</h1>
                    <p data-aos="fade-up" data-aos-delay="300">Hi! I’m Daniel Fears, a musician currently residing in Austin, Tx but from Houston, Tx. I create R&B Music and soundscapes. I hope you enjoy!</p>
                    <a href="#" class="btn btn-outline-light" data-aos="fade-up" data-aos-delay="500">Music from the Soul</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Releases -->
    <section id="newReleases">
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up">
                    <div class="intro text-center">
                        <div class="hr-line-long"></div>
                        <h1 class="display-4">New Releases</h1>
                        <p class="mx-auto">My Most recently released singles, albums, and features.</p>
@*                          <a asp-action="Index" asp-controller="Home" class="btn btn-outline-success">
                            <i class="fa-plus"></i>Singles
                        </a> *@
                            
                    </div>
                </div>
            </div>

                    <div class="row gy-4">
                        <div class="col-12 col-md-6" data-aos="fade-up">
                            <div class="row">
                                <div class="col-12">
                                    <h2 class="text-center">Keep On (Live from The Draylen Mason)</h2>
                                </div>
                            </div>

                            <div class="single_no_pad">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="single_picture">
                                    <img src="~/img/keep_on_live.webp" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>Your light is Enough...</h4>
                                <p>
                                    Twisting my head around you caught me by surprise.
                                    <br />
                                    Sitting up under stars I think I saw you light up.
                                    Wish you could see you like I see you with my eyes.
                                    <br />
                                    Think you a masterpiece a blessing in disguise.
                                </p>
                                <div class="social-links ms-auto">
                                    <a href="#"><i class="ri-youtube-fill"></i></a>
                                    <a href="#"><i class="ri-spotify-fill"></i></a>
                                    <a href="#"><i class="ri-apple-fill"></i></a>
                                    <a href="#"><i class="ri-amazon-line"></i></a>
                                </div>
                            </div>

                        </div>
                            </div>

            </div>

                <div class="col-12 col-md-6" data-aos="fade-up">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center">Enough</h2>
                        </div>
                    </div>

                    <div class="single_no_pad">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="single_picture">
                                    <img src="~/img/Enough_single_artwork.jpg" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>Your light is Enough...</h4>
                                <p>
                                    Twisting my head around you caught me by surprise.
                                    <br />
                                    Sitting up under stars I think I saw you light up.
                                    Wish you could see you like I see you with my eyes.
                                    <br />
                                    Think you a masterpiece a blessing in disguise.
                                </p>
                                <div class="social-links ms-auto">
                                    <a href="#"><i class="ri-youtube-fill"></i></a>
                                    <a href="#"><i class="ri-spotify-fill"></i></a>
                                    <a href="#"><i class="ri-apple-fill"></i></a>
                                    <a href="#"><i class="ri-amazon-line"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6" data-aos="fade-up">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="text-center">Say Something</h2>
                        </div>
                    </div>

                    <div class="single_no_pad">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="">
                                    <img src="~/img/say_something_cover.jpg" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h4>No good at secrets</h4>
                                <p>
                                    I don't want to just stand by. You know I'm no good at keeping secrets.
                                    <br />
                                    Everything breaks when I say it's fine. 
                                    <br/>
                                    I know I can't read your mind. When something's eating you from the inside.
                                    But you won't let me in. Why Don't You Say Something?
                                    
                                    
                                </p>
                                <div class="social-links ms-auto">
                                    <a href="#"><i class="ri-youtube-fill"></i></a>
                                    <a href="#"><i class="ri-spotify-fill"></i></a>
                                    <a href="#"><i class="ri-apple-fill"></i></a>
                                    <a href="#"><i class="ri-amazon-line"></i></a>
                                </div>
                            </div>

                        </div>
                    </div>






                    @*                 <div class="col-lg-6" data-aos="fade-up" data-aos-delay="500">
                    <div class="service">
                    <div class="icon">
                    <i class="ri-computer-fill"></i>
                    </div>
                    <div>
                    <h4>Service title</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less</p>
                    <a href="#" class="link-arrow">Read More <i class="ri-arrow-right-up-line"></i></a>
                    </div>
                    </div>
                    </div>
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="700">
                    <div class="service">
                    <div class="icon">
                    <i class="ri-user-5-fill"></i>
                    </div>
                    <div>
                    <h4>Service title</h4>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less</p>
                    <a href="#" class="link-arrow">Read More <i class="ri-arrow-right-up-line"></i></a>
                    </div>
                    </div>
                    </div> *@
                </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <!-- ABOUT -->
    <section id="about">
        <div class="container">
            <div class="row" data-aos="fade-up">
                <div class="col-lg-5">
                    <div class="intro mb-4">
                        @* <div class="hr-line"></div> *@
                        <h1 class="display-4">Who Is Daniel Fears?</h1>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Et sapien tempus duis facilisis pretium massa pellentesque. Vel feugiat nunc, nascetur suspendisse nisl cras. Sem mi scelerisque posuere leo. Adipiscing purus dictum lacus sed. Non lectus at eu volutpat.</p>
                    <p>Et sapien tempus duis facilisis pretium massa pellentesque. Vel feugiat nunc, nascetur suspendisse nisl cras. Sem mi scelerisque posuere leo. Adipiscing purus dictum lacus sed. Non lectus at eu volutpat.</p>
                    <a href="#" class="btn btn-outline-dark">Contact Me</a>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <img src="~/img/danielNothing.jpg" alt="">
                </div>
            </div>
        </div>
    </section>


    <!-- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12" data-aos="fade-up">
                    <div class="intro text-center">
                        <div class="hr-line"></div>
                        <h1 class="display-4">
                            LET'S GET IN<br>
                            TOUCH TODAY
                        </h1>
                        <p class="mx-auto">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto" data-aos="fade-up">
                    <form action="" class="row gy-3">
                        <div class="col-lg-6">
                            <input type="text" class="form-control" placeholder="Name">
                        </div>
                        <div class="col-lg-6">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="col-lg-12">
                            <input type="text" class="form-control" placeholder="Subject">
                        </div>
                        <div class="col-lg-12">
                            <textarea class="form-control" placeholder="message" rows="5"></textarea>
                        </div>
                        <div class="col-12">
                            <button class="btn btn-dark">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- INSTA POSTS -->
    <section class="py-0 w-100 row" id="insta-posts">
        <div class="col">
            <img src="./assets/img/insta_post.jpg" alt="">
        </div>
        <div class="col">
            <img src="./assets/img/insta_post2.jpg" alt="">
        </div>
        <div class="col">
            <img src="./assets/img/insta_post3.jpg" alt="">
        </div>
        <div class="col">
            <img src="./assets/img/insta_post4.jpg" alt="">
        </div>
        <a href="#" class="insta-follow">
            <i class="ri-instagram-fill"></i>
        </a>
    </section>

    <!-- FOOTER -->
    <section class="pb-0">
        <footer>
            <div class="container footer-top">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <div>
                            <p class="mb-0">EMAIL</p>
                            <h2>booking@danielfears.com</h2>
                        </div>
@*                         <div class="mt-4">
                            <p class="mb-0">PHONE</p>
                            <h2>+89 99 22 35 65</h2>
                        </div> *@
                    </div>
                    <div class="col-auto">
                        <h5 class="mb-3">Follow me on</h5>
                        <div class="social-links ms-auto">
                            <a href="#"><i class="ri-facebook-fill"></i></a>
                            <a href="#"><i class="ri-instagram-fill"></i></a>
                            <a href="#"><i class="ri-youtube-fill"></i></a>
                            <a href="#"><i class="ri-spotify-fill"></i></a>
                            <a href="#"><i class="ri-apple-fill"></i></a>
                            <a href="#"><i class="ri-amazon-line"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container footer-bottom">
                <div class="row justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">Copyright © All Rights Reserved Daniel Fears</p>
                    </div>
                    <div class="col-auto">
                        <p class="mb-0">Designed by <a href="">Codedbywells</a></p>
                    </div>
                </div>
            </div>
        </footer>
    </section>


    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/aos.min.js"></script>
    <script src="~/js/app.js"></script>
</body>

</html>

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
